<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
      <title>{{ title  }} - {{ config.APP_NAME}}</title>
    {% else %}
      <title>{{ config.APP_NAME}}</title>
    {% endif %}
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/css/vendor/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/static/css/vendor/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/css/vendor/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load.
    <link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="/static/css/vendor/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block head_injections %}{% endblock %}
  </head>
  <body class="hold-transition skin-red sidebar-mini sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo" data-toggle="offcanvas" >
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"> <span class="fa fa-bars"></span></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><span class="fa fa-bars"></span> &nbsp;chocobar</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->

    </nav>
  </header>
  <!-- =============================================== -->
  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
          <li class="treeview">
          <a href="#">
            <i class="fa fa-book"></i>
            <span>Masters</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/configurations"><i class="fa  fa-cogs"></i> Configurations</a></li>
            <li><a href="printer"><i class="fa fa-print"></i> Printers</a></li>
            <li><a href="/category"><i class="fa fa-th-large"></i> Categories</a></li>
            <li><a href="/subcategory"><i class="fa fa-th"></i> Sub-categories</a></li>
            <li><a href="/incentive"><i class="fa fa-trophy"></i> Incentive</a></li>
            <li><a href="/table-name"><i class="fa fa-table"></i> Tables</a></li>
            <li><a href="/server-name"><i class="fa fa-male"></i> Server Names</a></li>
            <li><a href="/menu"><i class="fa fa-cutlery"></i> Menu</a></li>
            <li><a href="/settlement-mode"><i class="fa fa-money"></i> Settlement Modes </a></li>
            <li><a href="/customers"><i class="fa fa-database"></i> Customers </a></li>

          </ul>
        </li>
          <li class="treeview">
          <a href="#">
            <i class="fa  fa-fax"></i>
            <span>Point of Sale</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/order"><i class="fa fa-coffee"></i> Order</a></li>
            <li><a href="/billing"><i class="fa fa-calculator"></i> Billing</a></li>
              <li><a href="/settlement"><i class="fa fa-credit-card"></i> Settlement</a></li>
              <li>
                  <a href="#"><i class="fa  fa-circle-o-notch"></i> Others <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="/shift-table"><i class="fa  fa-exchange"></i> Shift Table</a></li>
                    <li><a href="/merge-tables"><i class="fa fa-object-group"></i> Merge Tables</a></li>
                    <li><a href="/modify-order-token"><i class="fa fa-edit"></i> Modify OT</a></li>
                      <li><a href="/modify-bill"><i class="fa fa-files-o"></i> Modify Bill</a></li>

                    <li><a href="/history"><i class="fa fa-binoculars"></i> History</a></li>

                  </ul>
              </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Materials Management</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
              <li><a href="/mms-dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
              <li><a href="/purchase-goods"><i class="fa fa-cart-plus"></i> Purchase Goods</a></li>
              <li><a href="/receive-goods"><i class="fa fa-truck"></i> Receive Goods</a></li>
              <li><a href="/transfer-goods"><i class="fa fa-external-link"></i> Transfer Goods</a></li>
              <li><a href="/recipe-manufacture"><i class="fa fa-flask"></i> Recipe Manufacture</a></li>
              <li><a href="/mms-reports"><i class="fa fa-area-chart"></i> Reports</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-wrench"></i>
            <span>Settings</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-users"></i> User Rights</a></li>
              <li><a href="#"><i class="fa fa-bank"></i> Tax Structure</a></li>
              <li><a href="#"><i class="fa fa-smile-o"></i> Happy Hours</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-bar-chart"></i>
            <span>Reports</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-line-chart"></i> Sales Analysis</a></li>
            <li><a href="#"><i class="fa fa-inr"></i>Profitability Analysis </a></li>
            <li><a href="#"><i class="fa fa-pie-chart"></i> Others</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="/logout">
            <i class="fa fa-sign-out"></i>
            <span>Log out</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- =============================================== -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <div id="loading-image"></div>
      {% include "flash.html" %}
      {% block content %}{% endblock %}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Version 2.3.1
    </div>
    <a href="/dashboard"><i class="fa fa-dashboard"></i> dashboard</a> |
    <a href="/order"><i class="fa fa-coffee"></i> take order</a> |
    <a href="/billing"><i class="fa fa-calculator"></i> billing</a> |
    <a href="/settlement"><i class="fa fa-credit-card"></i> settlement</a>
  </footer>
  
</div>
<!-- ./wrapper -->
<!-- jQuery 2.1.4 -->
<script src="/static/js/vendor/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/static/js/vendor/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/static/js/vendor/jquery.slimscroll.min.js"></script>
<!-- FastClick check if this is used anywhere-->
<script src="/static/js/vendor/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/static/js/app.min.js"></script>
<script src="/static/js/vendor/mousetrap.min.js"></script>
<script src="/static/js/shortcutkeys.js"></script>

  <script>
  $(function() {
   $('.alert-success').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
      });
    });

   $(document).ajaxStart(function() {
      $("#loading-image").show();

    });
  $(document).ajaxStop(function() {
    $("#loading-image").hide();
  });
  /*using this for console.log shortcut*/
  function log(object){
    console.log(JSON.stringify(object));
   }


</script>
  {% block footer_injections %}{% endblock %}
</body>
</html>
