<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <link rel="stylesheet" href="/static/css/vendor/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Categories</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Masters</a></li>
      <li class="active">Category Names</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical" method="post" action="{{ url_for('category') }}">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-4">
            <input id="category" name="category" placeholder="category name"
                   class="form-control input-md" type="text">
            {% for error in form.category.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-2">
            <input id="applicable_vat" name="applicable_vat" placeholder="applicable vat rate"
                   class="form-control input-md" type="text">
            {% for error in form.applicable_vat.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
            <!--button-->
          <div class="col-md-3 top-buffer">
            <button id="add_category" name="add_category" class="btn btn-primary">Add Category</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- table begins here-->
    <div class="row">
      <div class="col-xs-12">
            <table id="all_category_table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Category</th>
                  <th class="col-xs-2">Vat(%)</th>
                  <th>-</th>
                </tr>
              </thead>
              <tbody>
              {% for category_and_vat in all_active_categories_with_vat %}
                <tr>
                  <td>{{ category_and_vat[0] }}</td>
                  <td>{{ category_and_vat[1] }}</td>
                  <td id="control_buttons">
                  <span class="button-edit" title="Edit">
                     <i class="fa fa-edit"></i> Edit</span> |
                    <span class="button-delete" title="Delete">
                     <i class="fa fa-trash"></i> Delete</span>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    <!-- table ends here-->
  </section>
{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/vendor/jquery.ui.position.js"></script>
   <script src="/static/js/masters/category.js"></script>
{% endblock %}
