<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block content %}
  <section class="content-header">
    <h1>
    Configurations
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-cogs"></i> Masters</a></li>
      <li class="active">Configurations</li>
    </ol>
  </section>
  <form class="form-horizontal" method="post" action="{{ url_for('configurations') }}">
    {{ form.hidden_tag() }}
    <fieldset>
      <div class="content">
        <div class="border row">
          <!--colum 1-->
          <div class="border col-sm-6">
            <!-- Form Name -->
            <legend>Contact Details</legend>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="outlet_name">Outlet Name</label>
              <div class="col-md-7">
                <input id="outlet_name" name="outlet_name" placeholder="name" class="form-control input-md"
                value="{{configurations['outlet_name']}}" type="text">
                {% for error in form.outlet_name.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Email</label>
              <div class="col-md-7">
                <input id="email" name="email" placeholder="email" class="form-control input-md"
                value="{{configurations['email']}}" type="text">
                {% for error in form.email.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <!-- Search input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="phone">Phone</label>
              <div class="col-md-7">
                <input id="phone" name="phone" placeholder="phone" class="form-control input-md"
                value="{{configurations['phone']}}" type="text">
                {% for error in form.phone.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="address">Address</label>
              <div class="col-md-7">
                <textarea class="form-control" id="address" name="address">{{configurations['address']}}</textarea>
                {% for error in form.address.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="city">City</label>
              <div class="col-md-7">
                <input id="city" name="city" placeholder="city" class="form-control input-md"
                value="{{configurations['city']}}"  type="text">
                {% for error in form.city.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="state">State</label>
              <div class="col-md-7">
                <input id="state" name="state" placeholder="state" class="form-control input-md"
                value="{{configurations['state']}}"  type="text">
                {% for error in form.state.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="country">Country</label>
              <div class="col-md-7">
                <select id="country" name="country" class="form-control">
                  {% for country in countries_list %}
                    {% if country[1] == configurations['country'] %}
                      <option value="{{country[0]}}" selected="selected">{{country[1]}}</option>
                    {% else %}
                      <option value="{{country[0]}}">{{country[1]}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                {% for error in form.country.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="postal_code">Postal code</label>
              <div class="col-md-7">
                <input id="postal_code" name="postal_code" placeholder="postal code"
                value="{{configurations['postal_code']}}" class="form-control input-md"  type="text">
                {% for error in form.postal_code.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>

          </div>
          
          <!--colum 2-->
          <div class="border col-sm-6">
            <legend>Taxes &amp; Charges</legend>
            <div class="form-group">
              <label class="col-md-3 control-label" for="service_tax">Service Tax Rate(%)</label>
              <div class="col-md-7">
                <input id="service_tax" name="service_tax" placeholder="service tax rate" class="form-control input-md"
                value="{{configurations['service_tax']}}"  type="text">
                {% for error in form.service_tax.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="service_charge">Service Charge Rate(%)</label>
              <div class="col-md-7">
                <input id="service_charge" name="service_charge" placeholder="service charge" class="form-control input-md"
                value="{{configurations['service_charge']}}"  type="text">
                {% for error in form.service_charge.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="home_delivery_charge">Home Delivery Charge(in ₹)</label>
              <div class="col-md-7">
                <input id="home_delivery_charge" name="home_delivery_charge" placeholder="home delivery charge in Rs." class="form-control input-md"
                value="{{configurations['home_delivery_charge']}}"  type="text">
                {% for error in form.home_delivery_charge.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="vat_number">VAT registration number</label>
              <div class="col-md-7">
                <input id="vat_number" name="vat_number" placeholder="vat registration number" class="form-control input-md"
                value="{{configurations['vat_number']}}"  type="text">
                {% for error in form.vat_number.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="service_tax_registration_number">Service Tax Regn. Number</label>
              <div class="col-md-7">
                <input id="service_tax_registration_number" name="service_tax_registration_number" placeholder="service tax registration number" class="form-control input-md"
                value="{{configurations['service_tax_registration_number']}}"  type="text">
                {% for error in form.service_tax_registration_number.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
            <legend>Miscellaneous</legend>
            <div class="form-group">
              <label class="col-md-3 control-label" for="bill_footer_message">Bill footer message</label>
              <div class="col-md-7">
                <input id="bill_footer_message" name="bill_footer_message"  placeholder="bill footer message" class="form-control input-md"
                value="{{configurations['bill_footer_message']}}"  type="text">
                {% for error in form.bill_footer_message.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>
          </div>
          </div>
        <!-- Button -->
            <div class="row">
              <label class="col-md-6 control-label" for="save"></label>
              <div class="col-md-5">
                <button id="save" name="save" class="btn btn-primary pull-right">Save</button>
              </div>
            </div>
      </div>
    </fieldset>
  </form>
</section>
{% endblock %}
