<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <link rel="stylesheet" href="/static/css/vendor/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Customers</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Masters</a></li>
      <li class="active">Customers</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical" method="post" action="{{ url_for('customers') }}">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-2">
            <input id="customer_name" name="customer_name" placeholder="customer name"
                   class="form-control input-md" type="text">
            {% for error in form.customer_name.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-2">
            <input id="email_address" name="email_address" placeholder="email"
                   class="form-control input-md" type="text">
            {% for error in form.email_address.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-2">
            <input id="contact_number" name="contact_number" placeholder="contact number"
                   class="form-control input-md" type="text">
            {% for error in form.contact_number.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-2">
            <input id="customer_address" name="customer_address" placeholder="customer address"
                   class="form-control input-md" type="text">
            {% for error in form.customer_address.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>

            <!--button-->
          <div class="col-md-2 top-buffer">
            <button id="add_customer" name="add_customer" class="btn btn-primary">Add Customer</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- table begins here-->
    <div class="row">
      <div class="col-xs-12">
            <table id="all_customers_table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="col-xs-2">Name</th>
                  <th class="col-xs-2">email</th>
                  <th class="col-xs-2">contact number</th>
                  <th>address</th>
                  <th>-</th>
                </tr>
              </thead>
              <tbody>
              {% for customer in all_customers %}
                <tr>
                  <td>{{ customer['customer_name'] }}</td>
                  <td>{{ customer['email_address'] }}</td>
                    <td>{{ customer['contact_number'] }}</td>
                    <td>{{ customer['customer_address'] }}</td>
                  <td id="control_buttons">
                  <span class="button-edit" title="Edit">
                     <i class="fa fa-edit"></i> Edit</span> 
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    <!-- table ends here-->
  </section>
{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/vendor/jquery.ui.position.js"></script>
   <script src="/static/js/masters/customers.js"></script>
{% endblock %}
