<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <link rel="stylesheet" href="/static/css/vendor/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Incentives</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Masters</a></li>
      <li class="active">Incentive</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical" method="post" action="{{ url_for('incentive') }}">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-4">
            <input id="incentive" name="incentive" placeholder="incentive" class="form-control input-md" type="text ">
            {% for error in form.incentive.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
            <!--button-->
          <div class="col-md-3 top-buffer">
            <button id="add_incentive" name="add_incentive" class="btn btn-primary">Add Incentive</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- table begins here-->
    <div class="row">
      <div class="col-xs-12">
            <table id="all_incentives_table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Incentive</th>
                  <th>-</th>
                </tr>
              </thead>
              <tbody>
              {% for item in all_active_incentives %}
                <tr>
                  <td class="editable incentive">{{ item }}</td>
                  <td id="control_buttons">
                  <span class="button-edit" title="Edit">
                     <i class="fa fa-edit"></i> Edit</span> |
                    <span class="button-delete" title="Delete">
                     <i class="fa fa-trash"></i> Delete</span>

                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    <!-- table ends here-->
  </section>
{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/vendor/jquery.ui.position.js"></script>
   <script src="/static/js/masters/incentive.js"></script>
{% endblock %}
