<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <link rel="stylesheet" href="/static/css/vendor/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Menu</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Masters</a></li>
      <li class="active">Menu</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical" method="post"  action="{{ url_for('menu') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-2">
            <input id="item_name" name="item_name" placeholder="item name" class="form-control input-md" type="text">
            {% for error in form.item_name.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-1">
            <input id="item_price" name="item_price" placeholder="price" class="form-control input-md" type="text">
            {% for error in form.item_price.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
            <!--Sub Category dropdown-->
          <div class="col-md-2">
            <select class="form-control input-md" name="subcategory_id">
                {% for subcategory in all_active_subcategories_with_id %}
                    <option value="{{subcategory[0]}}">{{subcategory[1]}}</option>
                {% endfor %}
            </select>
            {% for error in form.subcategory_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
            <!--Incentive dropdown-->
          <div class="col-md-2">
            <select class="form-control input-md" name="incentive_id">
                {% for incentive in all_active_incentives_with_id %}
                    <option value="{{incentive[0]}}">{{incentive[1]}}</option>
                {% endfor %}
            </select>
            {% for error in form.incentive_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
           <!-- File Button -->
            <div class="col-md-1 form-group">
                  <span class="btn btn-default btn-file">
                    Image <input type="file" name="item_image" accept="image/*">
                </span>
                {% for error in form.item_image.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
            <!--button-->
          <div class="col-md-2 top-buffer">
            <button id="add_menu" name="add_menu" class="btn btn-primary">Add Item</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- table begins here-->
    <div class="row">
      <div class="col-xs-12">
            <table id="all_menu_items_table" class="stripe table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Item Name</th>
                  <th>Price (₹)</th>
                  <th>Sub category</th>
                  <th>Incentive</th>
                  <th>Image</th>
                  <th><button class="btn btn-link" id="delete_all_selected" title="Delete">
                     <i class="fa fa-trash"></i> Delete Selected</button></th>
                </tr>
              </thead>
              <tbody>
              {% for item in all_menu_items %}
                <tr>
                  <td class="editable">{{ item[0] }}</td>
                  <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>
                        <img class="item_icon" src="{{ url_for('uploaded_file', filename=item[4]) }}" width="50" height="50">
                        <img class="preview_icon" width="50" height="50">

                    </td>
                  <td id="control_buttons">
                      <span class="button-edit" title="Edit">
                     <i class="fa fa-edit"></i> Edit</span> |
                      <span class="button-delete" title="Delete">
                     <i class="fa fa-trash"></i> Delete</span> </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    <!-- table ends here-->

  </section>
{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/vendor/jquery.ui.position.js"></script>
   <script src="/static/js/masters/menu.js"></script>
{% endblock %}
