<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <link rel="stylesheet" href="/static/css/vendor/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Settlement Modes <small>other than cash</small></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-print"></i> Masters</a></li>
      <li class="active">Settlement Modes</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical" method="post" action="{{ url_for('settlement_mode') }}">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-4">
            <input id="settlement_mode_name" name="settlement_mode_name" placeholder="settlement mode name"
                   class="form-control input-md" type="text">
            {% for error in form.settlement_mode_name.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-3 top-buffer">
            <button id="add_settlement_mode" name="add_settlement_mode" class="btn btn-primary">
              Add Settlement Mode</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- table begins here-->
    <div class="row">
      <div class="col-xs-12">
            <table id="all_settlement_mode_table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Settlement Mode name</th>
                  <th>-</th>
                </tr>
              </thead>
              <tbody>
              {% for settlement_mode in all_active_settlement_mode %}
                <tr>
                  <td>{{ settlement_mode }}</td>
                  <td id="control_buttons">
                  <span class="button-edit" title="Edit">
                     <i class="fa fa-edit"></i> Edit</span> |
                    <span class="button-delete" title="Delete">
                     <i class="fa fa-trash"></i> Delete</span>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    <!-- table ends here-->
  </section>
{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/vendor/jquery.ui.position.js"></script>
   <script src="/static/js/masters/settlement_mode.js"></script>
{% endblock %}
