<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <link rel="stylesheet" href="/static/css/vendor/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Sub categories</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Masters</a></li>
      <li class="active">Sub categories</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical" method="post" action="{{ url_for('subcategory') }}">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-3">
            <input id="subcategory_name" name="subcategory_name" placeholder="subcategory name" class="form-control input-md" type="text">
            {% for error in form.subcategory_name.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-3">
            <select class="form-control input-md" name="category_id">
                {% for category in all_active_categories_with_id %}
                    <option value="{{category[0]}}">{{category[1]}}</option>
                {% endfor %}
            </select>
            {% for error in form.category_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-3">
            <select class="form-control input-md" name="printer_id">
                {% for printer_id_and_name in all_active_printer_names_with_id %}
                    <option value="{{printer_id_and_name[0]}}">{{printer_id_and_name[1]}}</option>
                {% endfor %}
            </select>
            {% for error in form.printer_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
            <!--button-->
          <div class="col-md-3 top-buffer">
            <button id="add_subcategory" name="add_subcategory" class="btn btn-primary">Add Sub Category</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- table begins here-->
    <div class="row">
      <div class="col-xs-12">
            <table id="all_subcategories_table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="col-xs-2">Sub Category Name</th>
                  <th class="col-xs-2">Category Name</th>
                  <th class="col-xs-2">Printer Name</th>
                  <th>-</th>
                </tr>
              </thead>
              <tbody>
              {% for item in all_active_subcategory_category_printer_maps %}
                <tr>
                  <td class="context-menu-one editable subcategory_name">{{ item[0] }}</td>
                  <td class="category_name">{{ item[1] }}</td>
                    <td class="printer_name">{{ item[2] }}</td>
                  <td id="control_buttons">
                      <span class="button-edit" title="Edit">
                     <i class="fa fa-edit"></i> Edit</span> |
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    <!-- table ends here-->
  </section>
{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/vendor/jquery.ui.position.js"></script>
   <script src="/static/js/masters/subcategory.js"></script>
{% endblock %}
