<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      Reports
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-area-chart"></i> MMS</a></li>
        <li class="active">Reports</li>
      </ol>
    </section>
    <section class="content">
        <div class="col-md-3">
            <select class="form-control input-md" name="supplier_name">
                <option value="0">--select category--</option>
                <option value="1">Sales</option>
                <option value="2">Stock</option>
                <option value="3">P&L</option>
                <option value="4">Exception</option>
                <option value="5">Accounting</option>
                <option value="5">Production</option>
            </select>
          </div>

    </section>


{% endblock %}
