<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      Purchase Goods
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cart-plus"></i> MMS</a></li>
        <li class="active">Purchase Goods</li>
      </ol>
    </section>
    <section class="content">

        <div class="form-group">
        <div style="margin-bottom:20px" class="row pull-right">
            <div class="col-md-3">
                <button id="import_po" name="add_item" class="btn btn-primary">Import Po</button>
            </div>
        </div>
            </div>
        <div class="clear-both"></div>


        <form class="form-vertical" method="post" action="{{ url_for('purchase_goods') }}">

      <fieldset>
        <div class="form-group">
          <div class="col-md-3">
            <select class="form-control input-md" name="site_name">
                <option value="0">--select site--</option>
                <option value="belapur">Belapur</option>
                <option value="vashi">Vashi</option>

            </select>
          </div>
          <div class="col-md-3">
            <select class="form-control input-md" name="supplier_name">
                <option value="0">--select supplier--</option>
                <option value="supplier 1">Ranjit Traders</option>
                <option value="supplier 2">Batliwala Supplies</option>
                <option value="supplier 3">S K Food Pvt Ltd</option>
            </select>
          </div>
            <div class="col-md-3">
            <input id="purchase_date" name="purchase_date" placeholder="purchase date (dd/mm/yyyy)" class="form-control input-md" type="date">
          </div>
          <div class="col-md-3 top-buffer">
            <button id="add_item" name="add_item" class="btn btn-primary">Add Item</button>
          </div>
        </div>
      </fieldset>
    </form>


<div style="height:250px" class="row">

    <!---Items Added show in table here -->
</div>

<div class="row">
        <div class="form-group">
          <div class="col-md-3  ">

          </div>
            <div class="col-md-1">
          <button id="save_po" name="add_item" class="btn btn-primary">Save PO</button>
          </div>
          <div class="col-md-1 top-buffer">
          <button id="submit" name="add_item" class="btn btn-primary">Submit</button>
          </div>
            <div class="col-md-2">
                <button id="submit_and_create_new" name="add_item" class="btn btn-primary">Submit & Create New</button>
          </div>
          <div class="col-md-2 top-buffer">

            <button id="submit_and_create_template" name="add_item" class="btn btn-primary">Submit and Create Template</button>
          </div>
</div>
</div>






    </section>


{% endblock %}
