<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      Receive Goods
      </h1>
      <button id="gr_list" name="gr_list" class="btn btn-primary">GR List</button>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-truck"></i> MMS</a></li>
        <li class="active">Receive Goods</li>
      </ol>
    </section>
    <section class="content">

        <div class="row">

      <fieldset>
        <div class="form-group">
          <div class="col-md-3">
            <select class="form-control input-md" name="site_name">
                <option value="0">--select site--</option>
                <option value="belapur">Belapur</option>
                <option value="vashi">Vashi</option>

            </select>
          </div>
          <div class="col-md-3">
            <select class="form-control input-md" name="supplier_name">
                <option value="0">--select supplier--</option>
                <option value="supplier 1">Ranjit Traders</option>
                <option value="supplier 2">Batliwala Supplies</option>
                <option value="supplier 3">S K Food Pvt Ltd</option>
            </select>
          </div>
            <div class="col-md-3">
            <input id="purchase_date" name="purchase_date" placeholder="GR date (dd/mm/yyyy)" class="form-control input-md" type="date">
          </div>
          <div class="col-md-3 top-buffer">
            <button id="add_item" name="add_item" class="btn btn-primary">Add Item</button>
          </div>
        </div>
      </fieldset>


        </div>
        <div class="row top-buffer">

      <fieldset>
        <div class="form-group">
          <div class="col-md-3">
            <select class="form-control input-md" name="start_po_number">
                <option value="0">--start PO number--</option>
                <option value="belapur">12545</option>
                <option value="vashi">56878</option>

            </select>
          </div>
          <div class="col-md-3">
            <select class="form-control input-md" name="to_po_number">
                <option value="0">--to PO number--</option>
                <option value="belapur">12545</option>
                <option value="vashi">56878</option>

            </select>
          </div>
            <div class="col-md-3">
            <input id="bill_number" name="bill_number" placeholder="bill number" class="form-control input-md" type="text">

          </div>
          <div class="col-md-3 top-buffer">

            <label class="checkbox-inline" for="checkboxes-0">
              <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
              receive all
            </label>

        </div>
            </div>
      </fieldset>



        </div>
        <div class="row top-buffer">

            <div class="form-group">
              <label class="col-md-4 control-label" for="checkboxes"></label>
              <div class="col-md-4">
                <label class="checkbox-inline" for="checkboxes-0">
                  <input name="checkboxes" id="checkboxe1-0" value="1" type="checkbox">
                  Submit
                </label>
                <label class="checkbox-inline" for="checkboxes-1">
                  <input name="checkboxes" id="checkboxes-1" value="2" type="checkbox">
                  Serviced
                </label>
                <label class="checkbox-inline" for="checkboxes-2">
                  <input name="checkboxes" id="checkboxes-2" value="3" type="checkbox">
                  GR created
                </label>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <select class="form-control input-md" name="tax_status">
                <option value="0">--prices are--</option>
                <option value="no_tax">Out of Tax</option>
                <option value="inclusive">Inclusive of Tax</option>
                <option value="exclusive">Exclusive of Tax</option>
            </select>
          </div>
        </div>
        <div class="row m-t-15">
                <!-- table begins here-->

      <div class="col-xs-12">
            <table id="all_category_table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Received Quantity</th>
                    <th>Balance Quantity</th>

                    <th>Rate</th>
                    <th>Amount</th>
                  <th>Vat(%)</th>
                  <th>-</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>-</td>
                  <td>-</td>
                    <td>-</td>
                  <td>-</td>

                  <td>-</td>
                </tr>
              </tbody>
            </table>
      </div>

    <!-- table ends here-->




        </div>
        <div class="row">
            <div class="col-md-3">
                <input id="freight" name="f" placeholder="freight" class="form-control input-md" type="text">
              </div>
            <div class="col-md-3">
                <input id="transport" name="t" placeholder="transport" class="form-control input-md" type="text">
              </div>
            <div class="col-md-3">
                <input id="octroi" name="o" placeholder="octroi" class="form-control input-md" type="text">
              </div>



        </div>
        <div class="row">
            <div class="col-md-3">
                <input id="total_tax" name="tt" placeholder="total tax" class="form-control input-md" type="text">
              </div>
            <div class="col-md-3">
                <input id="discount" name="tt" placeholder="discount" class="form-control input-md" type="text">
              </div>
            <div class="col-md-3">
                <input id="discount_after_tax" name="tt" placeholder="discount after tax" class="form-control input-md" type="text" disabled>
              </div>
            <div class="col-md-3">
                <input id="remark" name="tt" placeholder="remark" class="form-control input-md" type="text" disabled>
              </div>

        </div>
        <div class="row">
        <strong>Payment Details</strong>
            <div class="col-md-3">
                <input id="total" name="tt" placeholder="total Amount" class="form-control input-md" type="text">
              </div>
            <div class="col-md-3">
                <input id="payment_date" name="tt" placeholder="Payment date" class="form-control input-md" type="text">
              </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input id="cash" name="tt" placeholder="cash" class="form-control input-md" type="text">
              </div>
            <div class="col-md-2">
                <input id="cheque" name="tt" placeholder="cheque" class="form-control input-md" type="text">
              </div>
            <div class="col-md-3">
                <input id="credit" name="tt" placeholder="credit" class="form-control input-md" type="text">
              </div>
            <div class="col-md-3">
                <input id="pending" name="tt" placeholder="pending" class="form-control input-md" type="text">
              </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <label>Description</label>
            <textarea name="desc" class="form-control input-md"></textarea>
            </div>
            <div class="col-md-2 m-t-35">
            <button id="submit_create_new" name="scn" class="btn btn-primary">Submit & Create New</button>
                </div>
            <div class="col-md-1 m-t-35">
                <button id="submit" name="scn" class="btn btn-primary">Submit</button>
                </div>
            <div class="col-md-2 m-t-35">
                <button id="submit_create_template" name="scn" class="btn btn-primary">Submit & Create Template</button>
            </div>
        </div>
        <div class="row">


        </div>



    </section>


{% endblock %}



{% block footer_injections %}
  <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>

{% endblock %}
