<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      Recipe Manufacture
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-flask"></i> MMS</a></li>
        <li class="active">Recipe Breakup</li>
      </ol>
    </section>
    <section class="content">
        <div class="row">
        <div class="col-md-3">
            <select class="form-control input-md" name="supplier_name">
                <option value="0">--select site--</option>
                <option value="1">Belapur</option>
                <option value="2">Vashi</option>

            </select>
          </div>
            <div class="col-md-3">
            <input id="manufacture_date" name="manufacture_date" placeholder="manufacture date (dd/mm/yyyy)" class="form-control input-md" type="date">
          </div>
        </div>
        <div class="row m-t-15">
            <div class="col-xs-12">
            <table id="" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Recipe Name</th>
                  <th>Quantity</th>
                  <th>Actual Quantity</th>
                  <th>Default Cost</th>
                    <th>Actual Cost</th>
                    <th>-</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td id="control_buttons">
                  <span class="button-edit" title="Edit">
                     <i class="fa fa-edit"></i> Edit</span> |
                    <span class="button-delete" title="Delete">
                     <i class="fa fa-trash"></i> Delete</span>
                  </td>
                </tr>

              </tbody>
            </table>
      </div>

        </div>
    </section>


{% endblock %}
