<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      Transfer Goods
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-external-link"></i> MMS</a></li>
        <li class="active">Transfer Goods</li>
      </ol>
    </section>
    <section class="content">

        <h3>TODO</h3>
    </section>


{% endblock %}
