<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <style>
  td.ta-right{
  text-align: right !important;
  font-weight: 200;
  }
  #billing-tabs{
  min-height: 450px;
  }
  .content{
  margin-top:-45px;
  }
  .tab-content {
  padding: 10px 0px;
  }
  #bill-printer-settings{
  color: #d5d5d5;
  cursor: pointer;
  margin-bottom: 10px;
  }
  .nav-tabs{
  border-bottom: hidden;
  }
  #bill_preview_table{
  font-size: 70%;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none !important;
  background-color: transparent;
  }
  .item_split_input{
    width:55px;
  }
  </style>
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>Billing <small id="subtitle"></small></h1>
    <ol class="breadcrumb">
      <div id="bill-printer-settings" class="pull-right"><a><i class="fa fa-cog"></i> Bill Printer Settings</a></div>
      <div id="user-id" class="hidden">{{g.user_id}}</div>
    </ol>
  </section>
  <section class="content">
    <div id="billing-tabs">
      <ul class="nav nav-tabs">
        <li class="dropdown pull-right">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Split Bill <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="tab" href="#category_wise_split_tab">Category wise</a></li>
            <!--<li><a data-toggle="tab" href="#percentage_wise_split_tab">Percentage wise</a></li>-->
            <li><a data-toggle="tab" href="#item_wise_split_tab">Item wise</a></li>
            <li><a data-toggle="tab" href="#no_split_tab">No Split</a></li>
          </ul>
        </li>
      </ul>
      <form class="form-vertical">
        {{ form.hidden_tag() }}
        <fieldset>
          <div class="form-group">
            <div class="col-md-3">
              <select id="all_running_table_drop_down" class="form-control input-md">
                <option value="0">-- all unbilled running tables --</option>
                {% for table in all_un_billed_running_table_with_id %}
                  <option value="{{table[0]}}">{{table[1]}}</option>
                {% endfor %}
              </select>
              <span style="color: red;">{{ all_running_table_error }}</span>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="tab-content">
        <div id="no_split_tab" class="tab-pane active">
          <!-- table begins here-->
          <div class="row">
            <!--colum 1-->
            <div class="border col-sm-6 show_bill hidden">
              <div class="col-xs-12 m-t-20">
                <table id="bill_preview_table" class="table table-bordered table-hover table-condensed">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Quantity</th>
                      <th>Rate</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody id="mtbody">
                  <tr></tr>
                </tbody>
              </table>
              <div id="placeholder_for_normal_bill_print_button" class="pull-right"> </div>
            </div>
          </div>
          <!--colum 2-->
          <div class="border col-sm-6"></div>
        </div>
        <!-- table ends here-->
      </div>
      <!--category wise content starts in below tab here-->
      <div id="category_wise_split_tab" class="tab-pane">
      <form class="form-vertical">
        {{ form.hidden_tag() }}
        <fieldset>
          <div class="form-group">
            <div class="col-md-3">
              <select id="number_of_category_wise_splits" class="form-control input-md">
                <option value="0">--select number of splits--</option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="col-xs-12">
        <div id="category_wise_split_table"></div>
        <button id="print_category_split_bills_button" class="btn btn-primary pull-right hidden">Print Split Bills</button>
      </div>
      </div>
      <!--category wise tab content ends here-->
      <!--item wise tab content begins here-->
      <div id="item_wise_split_tab" class="tab-pane">
      <form class="form-vertical">
        {{ form.hidden_tag() }}
        <fieldset>
          <div class="form-group">
            <div class="col-md-3">
              <select id="number_of_item_wise_splits" class="form-control input-md">
                <option value="0">--select number of splits--</option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="col-xs-12">
        <div id="item_wise_split_table"></div>
        <button id="print_item_split_bills_button" class="btn btn-primary pull-right hidden">Print Split Bills</button>
      </div>
      </div>
      
      <!--item wise tab content ends here-->
      <!--percentage wise tab content begins here-->
      <div id="percentage_wise_split_tab" class="tab-pane">
        <p>percent wise content goes here</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block footer_injections %}
<script src="/static/js/vendor/jquery.dataTables.min.js"></script>
<script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
<script src="/static/js/vendor/bootbox.min.js"></script>
<script src="/static/js/vendor/jquery.ui.position.js"></script>
<script src="/static/js/pos/billing.js"></script>
{% endblock %}
