<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      History
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-binoculars"></i> POS</a></li>
        <li class="active">History</li>
      </ol>
    </section>
    <section class="content">
          <div class="col-md-3">
            <select class="form-control input-md" name="history_id">
                <option value="1">--select--</option>
                <option value="1">Table Session</option>
                <option value="1">Order Token</option>
                <option value="1">Order</option>
                <option value="1">Bill</option>
                <option value="1">Settlement</option>
            </select>
          </div>
          <div class="col-md-3 input-group">
                  <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                    <i class="fa fa-calendar"></i> Date range picker
                    <i class="fa fa-caret-down"></i>
                  </button>
          </div>
        <h3>TODO</h3>
    </section>


{% endblock %}
