<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      Merge Tables
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-object-group"></i> POS</a></li>
        <li class="active">Merge Tables</li>
      </ol>
    </section>
    <section class="content">
    <form class="form-vertical" method="post" action="{{ url_for('merge_tables') }}">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-2">
            <label>Merge Table</label>
            <select id="absorbed_table_session_id" name="absorbed_table_session_id" class="form-control input-md">

              {% for table in all_un_billed_running_table_sessions_with_id %}
                <option value="{{table[0]}}">{{table[1]}}</option>
              {% endfor %}
            </select>
              {% for error in form.absorbed_table_session_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-2">
            <label>with Table</label>
            <select id="absorber_table_session_id" name="absorber_table_session_id" class="form-control input-md">
            {% for table in all_un_billed_running_table_sessions_with_id %}
                <option value="{{table[0]}}">{{table[1]}}</option>
              {% endfor %}
            </select>
            {% for error in form.absorber_table_session_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
          <div class="col-md-2">
              <p></p>
              <button class="btn btn-primary m-t-15">Merge Table</button>
          </div>
        </div>
      </fieldset>
    </form>
    </section>

{% endblock %}
{% block footer_injections %}
<script src="/static/js/pos/merge-tables.js"></script>
{% endblock %}
