<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <style>
  .content {
  min-height: 15px !important;
  }
  .order_token_details {
  margin-left: 15px;
  }
  </style>
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>
    Modify Order Token
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa  fa-shopping-cart"></i> POS</a></li>
      <li class="active">Modify Order Token</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-2">
            <select id="all_un_billed_running_table_drop_down" class="form-control input-md">
              <option value="0">-- all unbilled running tables --</option>
              {% for table in all_un_billed_running_tables_with_id %}
                <option value="{{table[0]}}">{{table[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <div id="printer_drop_down_section" class="col-md-2 hidden">
            <select id="all_printers_for_the_table_session" class="form-control input-md">
              <option value="0">-- select printer --</option>
            </select>
          </div>
          <div id="order_token_drop_down_section" class="col-md-2 hidden">
            <select id="all_order_token_ids_for_the_table_session_and_given_printer" class="form-control input-md">
              <option value="0">-- select order token --</option>
            </select>
          </div>
        </div>
      </fieldset>
    </form>
  </section>
  <section class="content order_token_details">
    <div id="order_token_details" class='hidden'>
      <div class="row m-t-20">
        <div class="col-md-6">
          <table id="order_token_details_table" class="table table-hover">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Original Quantity</th>
                <th>New Quantity</th>
              </tr>
            </thead>
            <tbody>
            <tr></tr>
          </tbody>
        </table>
        <div class='m-t-20'> 
          <table class="table table-hover">
            <tbody>
            <tr>
              <td><button id='delete_order_token_btn' class='delete_ot_btn btn btn-default'>Delete this order token</button></td>
              <td><input id="ot_modification_reason" placeholder="modification reason" class="form-control input-md" type="text"></td>
              <td><input id="ot_modification_printer_message" placeholder="printer message" class="form-control input-md" type="text"></td>
              <td><button id='save_modified_order_token_btn' class='save_ot_modification_btn btn btn-primary pull-right'>Save</button></td>
            </tr>
            </tbody>
          </table>
          
          
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
{% endblock %}
{% block footer_injections %}
<script src="/static/js/vendor/bootbox.min.js"></script>
<script src="/static/js/pos/modify-order-token.js"></script>
{% endblock %}