<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <style>
  td.ta-right{
  text-align: right !important;
  font-weight: 200;
  }
  #bill-printer-settings{
  color: #d5d5d5;
  cursor: pointer;
  margin-bottom: 10px;
  }
#complementary_and_on_the_house_preview_table,
#item_as_complementary_bill_preview_table,   
#item_wise_discount_bill_preview_table, #discount_on_total_bill_preview_table{
  font-size: 70%;
  cursor: pointer;
  }

.checkbox{
  font-size: 80%;
  color: #CC181E;
}

  input.discount{
  width:45px;
  }

select#mark_bill {
    margin-right:50px;
}
input.bill_modification_reason{
    margin-right:10px;

  }

  #checkbox_for_complementary_and_on_the_house {
    
  }
  </style>
  
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>
    Modify Bill
    </h1>
    <ol class="breadcrumb">
      <div id="bill-printer-settings" class="pull-right"><a><i class="fa fa-cog"></i> Bill Printer Settings</a></div>
      <div id="user-id" class="hidden">{{g.user_id}}</div>
    </ol>
  </section>
  <section>
    <form class="form-vertical">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-4">
            <select id="all_unsettled-running_table_drop_down" class="form-control input-md">
              <option value="0">-- all un-settled tables --</option>
              {% for table in all_un_settled_running_tables_with_id %}
                <option value="{{table[0]}}">{{table[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <select id="mark_bill_with" class="form-control input-md">
              <option value="0">-- select action --</option>
              <option value="discount_on_item">apply discount on items</option>
              <option value="item_as_complementary">give item as complementary</option>
              <option value="discount_on_total">apply discount on bill total</option>
              <option value="complementary">mark as complementary</option>
              <option value="on_the_house">mark as on-the-house</option>
            </select>
          </div>
        </div>
      </fieldset>
    </form>
  </section>
  <section  class="content show_bill item_wise_discount_section hidden">
    <div class="row">
        <div class="col-xs-12 m-t-20">
          <table id="item_wise_discount_bill_preview_table" class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Actual Total</th>
                <th>Discount %</th>
                <th>Discount Amount</th>
                <th>After Discount</th>
              </tr>
            </thead>
            <tbody id="item_wise_discount_tbody">
            <tr></tr>
          </tbody>
        </table>
        <div class="pull-right form-inline">
          <input id="bill_modification_reason_item_wise_discount" placeholder="bill modification reason" class="bill_modification_reason form-control input-md" type="text"><button class="btn btn-primary print_modified_bill_button">Print Bill</button>
        </div>
      </div>
    </div>
  </section>
  <section  class="content show_bill item_as_complementary_section hidden">
    <div class="row">
        <div class="col-xs-12 m-t-20">
          <table id="item_as_complementary_bill_preview_table" class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Actual Total</th>
                <th>Number of complementary items</th>
                <th>Amnt. after complementary</th>
              </tr>
            </thead>
            <tbody id="item_as_complementary_tbody">
            <tr></tr>
          </tbody>
        </table>
        <div class="pull-right form-inline">
          <input id="bill_modification_reason_item_as_complementary" name="bill_modification_reason" placeholder="bill modification reason" class="bill_modification_reason form-control input-md" type="text"><button class="btn btn-primary print_modified_bill_button">Print Bill</button>
        </div>
      </div>
    </div>
  </section>
  <section  class="content show_bill discount_on_total_section hidden">
    <div class="row">
        <div class="col-xs-12 m-t-20">
          <div class="col-sm-6">
          <table id="discount_on_total_bill_preview_table" class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody id="discount_on_total_tbody">
            <tr></tr>
          </tbody>
        </table>
        
      </div>
      <div class="col-sm-6">
        <table id="discount_on_total_bill_preview_table" class="table table-bordered table-hover table-condensed">
            <tbody>
              <tr>
                <td>Bill Total</td>
                <td id="discount_on_total_bill_total"></td>
              </tr>
              <tr>
                <td>Discount on Total</td>
                <td><input id="discount_on_total_input" placeholder="%" class="discount form-control input-sm" type="text"></td>
              </tr>
              <tr>
                <td>Amount of Discount</td>
                <td id="discount_on_total_amount_of_discount">0.00</td>
              </tr>
              <tr>
                <td>Bill Amount after Discount</td>
                <td id="discount_on_total_bill_total_after_discount"></td>
              </tr>
            </tbody>
            
          </tbody>
        </table>    
      </div>
    </div>
    </div>
  <div class="row">
      <div class="col-xs-12">
        <div class="pull-right form-inline">
          <input id="bill_modification_reason_discount_on_total" placeholder="bill modification reason" class="bill_modification_reason form-control input-md" type="text"><button class="btn btn-primary print_modified_bill_button">Print Bill</button>
        </div>
      </div>
  </div>
  </section>

<section  class="content show_bill complementary_and_on_the_house_section hidden">
    <div class="row">
        <div class="col-xs-12 m-t-20">
          <div class="col-sm-6">
          <table id="complementary_and_on_the_house_preview_table" class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody id="complementary_and_on_the_house_tbody">
            <tr></tr>
          </tbody>
        </table>
        
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
            <span id="label_for_complementary_and_on_the_house"></span>
            <div id="message_for_marked_as_complementary_and_on_the_house" class="success"></div>

        </div>
      </div>
    </div>
    </div>
  <div class="row">
      <div class="col-xs-12">
        <div class="pull-right form-inline">
          <input id="bill_modification_reason_complementary_and_on_the_house" placeholder="bill modification reason" class="bill_modification_reason form-control input-md" type="text"><button class="btn btn-primary print_modified_bill_button">Print Bill</button>
        </div>
      </div>
  </div>
  </section>


{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/vendor/jquery.ui.position.js"></script>
  
  <script src="/static/js/pos/modify-bill.js"></script>
{% endblock %}