<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}

  <link rel="stylesheet" href="/static/css/vendor/dataTables.bootstrap.css">
  <style>
#available_items_table > thead{
    display:none;
    }

    #move_item_up{
      cursor: pointer;
      color: #8d8d8d;
      float:right;
      }

    .remove_item_icon {
        color: #bdbdbd;
        cursor: pointer;
        font-size: 80%;
    }
    #order_table_wrapper {
        min-height: 300px;
        max-height: 300px;
        border: 1px solid #F4F4F4;
        padding: 0px 5px;
        overflow-x: hidden;
        overflow-y: visible;
    }
    #table_wrapper {
        min-height: 400px;
        max-height: 400px;
        border: 1px solid #F4F4F4;
        margin-top: 20px;
        padding: 0px 5px;
        overflow-y: auto;
    }
    #available_items_table_wrapper tr {
        cursor: pointer;
    }
    .toolbar {
        float: left;
    }
    #price_total_for_this_kot {
        float: right;
    }
    .form-control-modified {
        display: inline !important;
        width: auto !important;
        margin-right: 15px;
    }
    .price_per_unit {
        font-size: 75%;
        color: #888;
    }
    div.dataTables_filter label {
        float: right;
    }
    .add_general_instruction_button {
        cursor: pointer;
        color: #8d8d8d;
    }

    #general_instruction_content{
        min-height: 80px;
        max-height: 80px;
        border: 1px solid #F4F4F4;
        margin-top: 5px;
        padding: 5px;
        overflow-y: auto;
    }

.ripplelink {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0;
}

.ripplelink:hover {
  z-index: 1000;

  font-weight:400;
  color: #077ABF;
}

.ripplelink:click {
  z-index: 1000;

  color: #91C300;

}




  </style>
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>
    Take Order
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa  fa-shopping-cart"></i> POS</a></li>
      <li class="active">Take Order</li>
    </ol>
  </section>
  <section class="content">
    <form id="order-form" class="form-vertical">
      {{ form.hidden_tag() }}
      <div class="border row">
        <fieldset>
          <div class="form-group">
            <!--column 1 begins-->
            <div class="border col-sm-6">
              <div class="row">
                <!--server dropdown begins-->
                <div class="col-sm-4">
                  <select id="order_type_drop_down" class="form-control input-md">
                    <option value="dine-in">dine-in</option>
                    <option value="take_away">take away</option>
                    <option value="home_delivery">home delivery</option>
                  </select>
                </div>
                  <div class="col-sm-4">
                  <select id="table_drop_down" class="form-control input-md" name="table_name">
                      <option value="0">--select table--</option>
                      <!--<optgroup label="Running Tables">
                        {% for table_name in all_running_tables_with_session_id %}
                          <option value="{{table_name[0]}}">{{table_name[1]}}</option>
                        {% endfor %}                      </optgroup>-->
                      <optgroup label="All Tables">
                        {% for table_name in all_active_table_names_with_id %}
                          <option value="{{table_name[0]}}">{{table_name[1]}}</option>
                        {% endfor %}
                        </optgroup>
                  </select>
                  {% for error in form.table_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
                  <div class="col-sm-4">
                  <input min="1" max="5" id="split_table_name" name="split_table_name" placeholder="split table name" class="form-control input-md" type="number">
                  {% for error in form.split_table_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>
              <div id="server_and_pax" class="row m-t-20">
                <div class="col-sm-6">
                  <select id="server_drop_down" class="form-control input-md" name="server_name">
                    {% for server in all_active_servers_with_id %}
                      <option value="{{server[0]}}">{{server[1]}}</option>
                    {% endfor %}
                  </select>
                  {% for error in form.server_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
                <div class="border col-sm-6">
                  <input id="number_of_pax" name="number_of_pax" placeholder="number of pax" class="form-control input-md" min="1" type="number">
                  {% for error in form.number_of_pax.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>
              <div id="customer_info" class="row m-t-20">
                <!--server dropdown ends -->
                <!--colum 1 second row begins - one with three columns inside -->
                <div class="col-sm-3">
                  <input id="contact_number" name="contact_number" placeholder="contact number*" class="form-control input-md" type="text">
                  {% for error in form.contact_number.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
                <!-- Subcol 1 Table Names Dropdown ends -->
                <div class="border col-sm-2">
                  <input id="email_address" name="email_address" placeholder="email" class="form-control input-md" type="text">
                  {% for error in form.email_address.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
                <div class="border col-sm-2">
                  <input id="customer_name" name="customer_name" placeholder="name" class="form-control input-md" type="text">
                  {% for error in form.customer_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
                <div class="border col-sm-5">
                  <input id="customer_address" name="customer_address" placeholder="customer address*" class="form-control input-md" type="text">
                  {% for error in form.customer_address.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>
              <div class="row m-t-20 to_be_hidden">
                <div class="all_active_subcategories_drop_down">
                  <label>Filter by:</label>
                  <!--SubCol 1 Table Names Dropdown begins-->
                  <select id="subcategory_drop_down" class="form-control form-control-modified input-md subcategory_drop_down" name="subcategory">
                    {% for subcategory in all_active_subcategories_with_id %}
                      <option value="{{subcategory[0]}}">{{subcategory[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div id="wrapper_to_attach_dom">
                <div class="row">
                  <div class="col-xs-12">
                    <div id="table_wrapper">
                      <table id="available_items_table" class="table table-striped table-bordered table-condensed table-hover">
                      </table></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--column 1 ends-->
              <!--column 2 begins-->
              <div class="border col-sm-6" id="divToBePrintedOnPrinter">
                <div class="row">
                  <div class="col-xs-12">
                    <label id="item_count">Item Count : <span id="order_count"> 0 </span></label><label id="price_total_for_this_kot">Total (₹): <span id="order_price_kot"> 0 </span></label>
                    <div id="order_table_wrapper">
                      <table id="ordered_items_table" class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Special Instruction</th>
                            <th></th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- add general remark accordion -->
                <div class="row m-t-20">
                  <div class="col-sm-12">
                    <!--<span id='move_item_up'><i class="fa fa-arrow-circle-up"></i> move item up</span>-->
                      <div class='add_general_instruction_button'><i class="fa fa-plus-circle"></i> add general instruction</div>

                    <div id='general_instruction_content'>
                        {% for printer in all_active_printer_names_with_id %}
                        {% set placeholder = 'message for '+ printer[1].lower() %}
                        <input id="{{printer[0]}}" placeholder="{{placeholder}}" class="form-control input-md" type="text">
                        {% endfor %}
                    </div>

                  </div>
                </div>



                <!-- buttons -->
                <div class="row m-t-20">

                  <div class="col-sm-3 pull-right">
                    <button id="take_order" class="btn btn-primary pull-right">Take Order</button>
                    <!--onclick="PrintElem('#divToBePrintedOnPrinter');return false;"-->


                  </div>
                </div>
              </div>
              <!--column 2 ends-->
            </div>
          </fieldset>
        </div>
      </form>
    </section>
  {% endblock %}
  {% block footer_injections %}
    <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/static/js/vendor/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/vendor/bootbox.min.js"></script>
    <script src="/static/js/vendor/jquery.ui.position.js"></script>
    <script src="/static/js/pos/order.js"></script>
  {% endblock %}
