<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <style>
  #right_utility_column {}

#cash_calculator_content {margin-left: 15px;}

#accordion_click_section_calculator_cash_settlement {  color: #999;   margin-bottom: 35px; cursor: pointer; margin-left: 15px; }


#not_so_simple_calculator {margin-top: 25px;}
#not_so_simple_calculator_result_display {width:270px;}
#not_so_simple_calculator_table {margin-top: 15px;}
#not_so_simple_calculator_table tbody tr td {  padding: 3px;   width: 48px;   height: 25px;   }
#not_so_simple_calculator_table tbody tr td button.calc_button {  width:inherit;   height: inherit;   border: 1px solid #ccc; background: #eee;   }

#n0{   width:100% !important;   }
#neq{   height:300% !important;   }



#cash_denomination_calculator_table {  font-size: 75%;   }
#cash_denomination_calculator_table tbody tr td {  width:30px;   }
#cash_denomination_calculator_table tbody tr td input.denomination_cal_input {   width:30px; padding:1px; font-size: 80%;   }

#total_of_all_currencies{  text-align:center;   background: #eee;   }
#refund_amount{   margin-top: 10px;   }
.content {   min-height: 10px;   padding:10px;   }
#bill_amount{   font-size: 200%;   }
.settlement_amount_content {   margin-left: 45px;   }
.settlement_box_icon {  display: block;  float: left;  height: 40px;   width: 40px;   text-align: center;   font-size: 25px;   line-height: 40px;  }
.settlement_amount_box {  display: block;   height: 40px;   background: #FFF;   width: 100%;   }
.amount_number {  display: block;   font-size: 18px;   }
.mark_as_settled_btn {margin-top:20px; float:right;}

</style>
{% endblock %}
{% block content %}
  <section class="content-header">
    <h1>
    Settlement
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa  fa-shopping-cart"></i> POS</a></li>
      <li class="active">Settlement</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical">
      <fieldset>
        <div class="form-group">
          <div class="col-md-3">
            <select id="all_unsettled_table_drop_down" class="form-control input-md">
              <option value="0">-- all billed tables --</option>
              {% for table in all_billed_but_unsettled_table_with_id %}
                <option value="{{table[0]}}">{{table[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <select id="all_bill_ids_for_table_session" class="form-control input-md">
              <option value="0">-- all bill ids for table  --</option>
            </select>
          </div>
          <div id="all_settlement_modes" class="col-md-2 hidden">
            <select id="all_settlement_modes_drop_down" class="form-control input-md">
              <option value="0">--settle with--</option>
              <option value="cash">Cash</option>
              {% for settlement_mode in all_settlement_modes_with_id %}
                <option value="{{settlement_mode[0]}}">{{settlement_mode[1]}}</option>
              {% endfor %}
              <option value="multiple">Multiple</option>
            </select>
          </div>
        </div>
      </fieldset>
    </form>
  </section>
  <section class="content">
    <div class="col-md-6">
      <div id="bill_amount_box" class="col-md-4 hidden">
        <span class="">Bill Amount:</span>
        <div class="settlement_amount_box text-center">
          <span class="settlement_box_icon bg-green"><i class="fa fa-rupee"></i></span>
          <div class="settlement_amount_content text-left">
            <span id="bill_amount" class="amount_number"></span>
          </div>
        </div>
      </div>
      <div id="cash" class="all_settlement_modes_content hidden">
        <div class="col-md-4">
          <span class="">Tender:</span>
          <input id="tender"  placeholder="" class="form-control input-md" type="text">
        </div>
        <div class="col-md-4">
          <span class="">Refund Amount:</span>
          <div id="refund_amount"> 0.00 </div>
        </div>
        <div class="clearfix"></div>
        <div><button id='mark_as_settled_btn_cash' class='mark_as_settled_btn btn btn-primary'>Mark as settled</button></div>
        <div class="clearfix"></div>
      </div>
      {% for settlement_mode in all_settlement_modes_with_id %}
        <div class="col-md-8">
          <div id="{{settlement_mode[0]}}" class="all_settlement_modes_content hidden">
            <span class="">{{settlement_mode[1]}} payment detail:</span>
            <input id="input_{{settlement_mode[0]}}_payment_detail" class="form-control input-md" type="text">
            <div class="clearfix"></div>
            <div><button id='mark_as_settled_btn_{{settlement_mode[0]}}' class='mark_as_settled_btn btn btn-primary'>Mark as settled</button></div>
          </div>
        </div>
      {% endfor %}
      <div id="multiple" class="all_settlement_modes_content hidden">
        <div class="col-md-4">
          <span class="">Accounted Amount:</span>
          <div id="multiple_accounted_amount"> 0.00 </div>
        </div>
        <div class="col-md-4">
          <span class="">Balance Amount:</span>
          <div id="multiple_remaining_amount"> 0.00 </div>
        </div>
        <div class="clearfix"></div>
        <div class="row m-t-20">
        <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Payment Details</th>  
            </tr>
            </thead> 
          <tbody>
            <tr>
              <td><input id="multiple_cash_amount" placeholder="Cash amount" class="form-control input-md" type="text"></td>
              <td><input id="multiple_cash_payment-detail" placeholder="Cash payment details" class="form-control input-md" type="text"></td>
            </tr>
            {% for settlement_mode in all_settlement_modes_with_id %}
            <tr>
              <td><input id="multiple_{{settlement_mode[0]}}_amount" placeholder="{{settlement_mode[1]}} amount" class="form-control input-md" type="text"></td>
              <td><input id="multiple_{{settlement_mode[0]}}_payment_detail" placeholder="{{settlement_mode[1]}} payment details" class="form-control input-md" type="text"></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <div class="clearfix"></div>
      <div><button id='mark_as_settled_btn_multiple' class='mark_as_settled_btn btn btn-primary'>Mark as settled</button></div>
    </div>
    </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div id="right_utility_column" class="col-md-6">
      <!--Perhaps Calculator here-->
      <div class="row">
        <div id="cash_calculator" class="hidden">
          <div id="accordion_click_section_calculator_cash_settlement"><i class="fa fa-chevron-circle-down"></i> cash calculator <i class="fa fa-calculator"></i> </div>
          <div style="display: block;" id="cash_calculator_content">
            <label>Denomination Calculator</label>
            <table id="cash_denomination_calculator_table">
              <tbody>
                <tr><td id="curr_1000">1000</td><td id="curr_500">500</td><td id="curr_100">100</td><td id="curr_50">50</td><td id="curr_20">20</td>
                <td id="curr_10">10</td><td id="curr_5">5</td><td id="curr_2">2</td><td id="curr_1">1</td></tr>
                <tr>
                  <td><input id="input_1000" class="denomination_cal_input form-control input-md" type="text"></td>
                  <td><input id="input_500" class="denomination_cal_input form-control input-md" type="text"></td>
                  <td><input id="input_100" class="denomination_cal_input form-control input-md" type="text"></td>
                  <td><input id="input_50" class="denomination_cal_input form-control input-md" type="text"></td>
                  <td><input id="input_20" class="denomination_cal_input form-control input-md" type="text"></td>
                  <td><input id="input_10" class="denomination_cal_input form-control input-md" type="text"></td>
                  <td><input id="input_5" class="denomination_cal_input form-control input-md" type="text"></td>
                  <td><input id="input_2" class="denomination_cal_input form-control input-md" type="text"></td>
                  <td><input id="input_1" class="denomination_cal_input form-control input-md" type="text"></td>
                </tr>
                <tr>
                  <td id="total_1000"></td><td id="total_500"></td><td id="total_100"></td><td id="total_50"></td><td id="total_20"></td>
                  <td id="total_10"></td><td id="total_5"></td><td id="total_2"></td><td id="total_1"></td>
                </tr>
                <tr><td id="total_of_all_currencies" colspan="9">0.00</td></tr>
              </tbody>
            </table>
            <!--THE NOT SO simple calculator -->
            <div id="not_so_simple_calculator">
              <label>Calculator</label>
              <div class="calc-in">
                  <input id="not_so_simple_calculator_result_display" type="text" value="0" class="form-control input-md">
                  <table id="not_so_simple_calculator_table">
                    <tbody>
                      <tr>
                        <td><button  class="calc_button" id="n7" value="7">7</button></td>
                        <td><button  class="calc_button" id="n8" value="8">8</button></td>
                        <td><button  class="calc_button" id="n9" value="9">9</button></td>
                        <td><button  class="calc_button" id="ndiv" value="/">/</button></td>
                        <td><button  class="calc_button" id="nmod" value="%">%</button></td>
                      </tr>
                      <tr>
                        <td><button  class="calc_button" id="n4" value="4">4</button></td>
                        <td><button  class="calc_button" id="n5" value="5">5</button></td>
                        <td><button  class="calc_button" id="n6" value="6">6</button></td>
                        <td><button  class="calc_button" id="nmul" value="*">*</button></td>
                        <td><button  class="calc_button" id="nC" value="c">C</button></td>
                      </tr>
                      <tr>
                        <td><button  class="calc_button" id="n1" value="1">1</button></td>
                        <td><button  class="calc_button" id="n2" value="2">2</button></td>
                        <td><button  class="calc_button" id="n3" value="3">3</button></td>
                        <td><button  class="calc_button" id="nsub" value="-">-</button></td>
                        <td rowspan="2"><button  class="calc_button" id="neq" value="=">=</button></td>
                      </tr>
                      <tr>
                        <td colspan="2"><button  class="calc_button" id="n0" value="0">0</button></td>
                        <td><button  class="calc_button" id="nP" value=".">.</button></td>
                        <td><button  class="calc_button" id="nadd" value="+">+</button></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
            <!--THE NOT SO simple calculator ends -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/pos/settlement.js"></script>
  <script src="/static/js/vendor/biginteger.js"></script>
  <script src="/static/js/pos/simplecalculator.js"></script>
{% endblock %}
