<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block content %}
  <section class="content-header">
    <h1>
    Shift Table
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-exchange"></i> POS</a></li>
      <li class="active">Shift Table</li>
    </ol>
  </section>
  <section class="content">
    <form class="form-vertical" method="post" action="{{ url_for('shift_table') }}">
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="form-group">
          <div class="col-md-2">
            <label>Shift Table</label>
            <select id="all_running_table_drop_down" name="running_table_session_id" class="form-control input-md">
              <option value="0">-- all running tables --</option>
              {% for table in all_running_table_sessions_with_id %}
                <option value="{{table[0]}}">{{table[1]}}</option>
              {% endfor %}
            </select>
              {% for error in form.running_table_session_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="col-md-2">
            <label>to Table</label>
            <select id="all_empty_table" name="vacant_table_id" class="form-control input-md">
              <option value="0">-- all vacant tables --</option>
              {% for vacant_table in all_vacant_tables_with_id %}
                <option value="{{vacant_table[0]}}">{{vacant_table[1]}}</option>
              {% endfor %}
            </select>
            {% for error in form.vacant_table_id.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
          <div class="col-md-2">
              <label>split table name</label>
            <input min="1" max="5" id="split_table_name" name="split_table_name" placeholder="split table name" class="form-control input-md" type="number">
          </div>
          <div class="col-md-2">
              <p></p>
              <button class="btn btn-primary m-t-15">Shift Table</button>
          </div>
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}
