<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      Categories
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Masters</a></li>
        <li class="active">Categories</li>
      </ol>
    </section>
    <section class="content">



    </section>


{% endblock %}
