<h1> Last Bill Printed Shows up here</h1>
<ul>
{% for bill in all_bills_fired_on_printer %}
<li><a href="/bill/{{bill}}">{{bill}}</a></li>
{% endfor %}
</ul>


<p><strong>P.S:</strong>The Bills have to be revisited
later with actual printer to do the tests.  </p>
