<h1>Adhoc Print</h1>
<ul>
{% for fired in all_adhocs_fired %}
<li><a href="/adhoc/{{fired}}">{{fired}}</a></li>
{% endfor %}
</ul>


<p><strong>P.S:</strong>The print format to be worked with actual printer to do the tests.</p>
