<h1> Prints Fired for Latest Order</h1>
<ul>
{% for ot in all_ots_fired %}
<li><a href="/ot/{{ot}}">{{ot}}</a></li>
{% endfor %}
</ul>


<p><strong>P.S:</strong>The print format to be worked with actual printer to do the tests.</p>
