<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}
{% block head_injections %}
  <style>

  #table_status_section {
    padding:0 35px 15px 15px;
  }
  .m-l-15{
  margin-left:15px;
  }
  table {
  font-size:80%;
  }
  .restaurant_table {
  background: #077ABF;
  cursor:pointer;
  font-size: 70%;
  text-align: center;
  padding-top:1vw;
  color:#fff;
  float: left;
  height: 3vw;
  line-height: 0.8vw;
  margin: 2% 1%;
  width: 8%;
  }
  .text_within_box {
  vertical-align: middle;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
  .restaurant_table {
  padding:3px;
  font-size: 80%;
  height: 9vw;
  margin: 2% 1%;
  width: 13%;
  line-height: 1vw;
  }
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
  .restaurant_table {
  padding:3px;
  height: 14vw;
  margin: 2% 1%;
  width: 16%;
  line-height: 2vw;
  }
  }
  /* basic positioning */
  .legend { list-style: none; font-size: 80%; }
  .legend li { float: left; margin-right: 10px; }
  .legend > li:nth-child(1) {margin-left: -35px;}
  .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
  /* your colors */
  .legend .running, .running { background-color: #91C300 !important;}
  .legend .billed, .billed { background-color: #FFC300 !important; }
  .legend .vacant, .vacant { background-color: #077ABF !important; }
  </style>
{% endblock %}
{% block content %}
  <section class="content-header"><h1> Dashboard </h1><ol class="breadcrumb"><li><a><i class="fa fa-dashboard"></i> Dashboard</a></li></ol></section>
  <section class="content m-l-15">
    <div class="row">
      <div class="col-sm-6">
        <div id = "table_status_section">
        <div class="row">
          {% for table_detail in table_details_for_dashboard_squares %}
            <div class="restaurant_table {{table_detail[1]}}"><span class="text_within_box">{{table_detail[0]}}</span></div>
          {% endfor %}
          </div>
        <div class="row pull-right">
          <ul class="legend">
            <li><span class="running"></span> Running</li>
            <li><span class="billed"></span> Billed</li>
            <li><span class="vacant"></span> Vacant</li>
          </ul>
        </div>
        </div>
        <strong>Unbilled Tables</strong>
        <table id="all_running_tables" class="m-t-20 table table-bordered table-hover">
          <thead>
            <tr>
              <th>Table Number</th>
              <th>Waiter</th>
              <th>Start Time</th>
              <th>Number of PAX</th>
              <th>Last order</th>
              <th class="col-xs-2">Spend</th>
            </tr>
          </thead>
          <tbody>
            {% for table_detail in all_running_table_details %}
              <tr>
                <td>{{ table_detail[0] }}</td>
                <td>{{ table_detail[1] }}</td>
                <td>{{ table_detail[2] }}</td>
                <td>{{ table_detail[3] }}</td>
                <td>{{ table_detail[4] }}</td>
                <td>{{ table_detail[5] }}</td>
                
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      <div class="col-sm-6">
        <strong>Billed &amp; unsettled Tables</strong>
        <table id="all_unsettled_tables" class="m-t-20 table table-bordered table-hover">
          <thead>
            <tr>
              <th>Table Number</th>
              <th>Waiter</th>
              <th>Billing Time</th>
              <th>Bill Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for table_detail in unsettled_bill_details %}
              <tr>
                <td>{{ table_detail[0] }}</td>
                <td>{{ table_detail[1] }}</td>
                <td>{{ table_detail[2] }}</td>
                <td>{{ table_detail[3] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <strong> adhoc printer message</strong>
        <select class="form-control input-sm" id="printer_id">
          <option value="0">select printer</option>
          {% for printer_with_id in all_printers_with_id %}
            <option value="{{printer_with_id[0]}}">{{printer_with_id[1]}}</option>
          {% endfor %}
        </select>
        <textarea id="adhoc_message_content" maxlength="50" class="form-control" placeholder="message"></textarea>
        <div class="box-footer clearfix">
          <button type="button" class="pull-right btn btn-default" id="sendAdhocMessage">Send
          <i class="fa fa-send right"></i></button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block footer_injections %}
  <script src="/static/js/vendor/bootbox.min.js"></script>
  <script src="/static/js/dashboard.js"></script>
{% endblock %}