<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
      <title>{{ title }}- Chocobar</title>
    {% else %}
      <title>Chocobar</title>
    {% endif %}
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="static/css/vendor/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="static/css/vendor/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="static/css/vendor/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="static/css/vendor/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="static/css/vendor/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="/"><b>Chocobar</b></a>

      </div>
      <!-- /.login-logo -->
      {% include "flash.html" %}
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form action="" method="post" name="login">

        {{ form.hidden_tag() }}
          <div class="form-group has-feedback">
            {{ form.email(class="form-control", placeholder="Email") }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="form-group has-feedback">
            {{ form.password(class="form-control", placeholder="Password") }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  {{ form.remember_me }} Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        
        <a href="#">I forgot my password</a><br>
        <a href="register" class="text-center">Register a new membership</a>
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    <script src="static/js/vendor/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="static/js/vendor/icheck.min.js"></script>
    <script>
    $(function () {
    $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%' // optional
    });
    });
    </script>
  </body>
</html>
