{% extends "base_layouts/base.html" %}
{% block content %}
    <h1>Register</h1>
    <form action="" method="post" name="register">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            Email:<br>
            {{ form.email(size=80) }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

        </p>
        <p>
            Password:<br>
            {{ form.password(size=80) }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Confirm Password:<br>
            {{ form.confirm_password(size=80) }}
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>
            {{ form.accept_tos }} I Accept TOS
            {% for error in form.accept_tos.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p><input type="submit" value="Register"></p>
    </form>
{% endblock %}
