<!-- extend base layout -->
{% extends "base_layouts/client_base.html" %}

{% block content %}
    <section class="content-header">
      <h1>
      Secret
      <small>it all starts here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>
    <section class="content">
        Page Content Here
    </section>
{% endblock %}
